* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f0f2f6;
}
ol,
ul {
  list-style: none;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h2 {

}
h3 {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
main {
  width: 33rem;
  padding: 0 1rem;
  max-width: 100%;
  margin: 4rem auto 1rem auto;
}
header {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
footer {
  width: 33rem;
  padding: 0 1rem;
  max-width: 100%;
  margin: 1rem auto;
}
p {
  line-height: 1.5;
  color: #000;
}
a,
strong {
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-bottom: 2px solid #26ade4;
  color: #000;
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}
b {
  font-weight: bold;
}
em {
  font-style: italic;
}
.card {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: .5rem;
  background-color: white;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.card:last-of-type {
  margin-bottom: 0;
}
.flex {
  display: flex;
}
.mr-1 {
  margin-right: 1rem;
}
.card__logo {
  display: flex;
  /* justify-content: center;
  align-content: center; */
  flex-wrap: wrap;
  width: 3rem;
  margin-right: 1rem;
}
.card__logo img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 3/2;
}
.card__content {
  flex-direction: column;
}
.card__text {
  font-size: .875rem;
  line-height: 1.25rem;
  color: rgb(107,114,128);
}
.pill {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: .75rem;
  line-height: 1rem;
  background-color: rgb(243,244,246);
  color: rgb(31,41,55);
  border-radius: 9999px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .card {
    padding: 1rem 1rem 3rem 1rem;
  }
  .pill {
    top: auto;
    bottom: 1rem;
  }
}
